<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       
        body {
            font-family: Arial, Helvetica, sans-serif;
            font-size: xx-large;
            background-color: rgb(242, 242, 242);
            margin: 0;
            height: 100%;
            /* overflow: hidden; */
        }
    </style>
</head>
<body>
    <div id="container">
        <img src="public/imgs/10-86-156.png" alt="" id="imgpointer">
    </div>
    <script src='/script.js' type="application/javascript"></script>
</body>
</html>